<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>shipmondo</name>
    <displayName><![CDATA[Shipmondo]]></displayName>
    <version><![CDATA[2.0.0]]></version>
    <description><![CDATA[GLS, PostNord, DAO and Bring Shipping for PrestaShop]]></description>
    <author><![CDATA[Shipmondo]]></author>
    <tab><![CDATA[shipping_logistics]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>
