services:
    shipmondo.form.type.shipmondo_configuration_form_type:
        class: 'Shipmondo\Form\Type\ShipmondoConfigurationFormType'
        parent: 'form.type.translatable.aware'
        public: true
        tags:
        - { name: form.type }

    shipmondo.form.shipmondo_configuration_data_configuration:
        class: 'Shipmondo\Form\ShipmondoConfigurationDataConfiguration'
        arguments:
        - '@prestashop.adapter.legacy.configuration'
        - '@translator'

    shipmondo.form.shipmondo_configuration_form_data_provider:
        class: 'Shipmondo\Form\ShipmondoConfigurationFormDataProvider'
        arguments:
        - '@shipmondo.form.shipmondo_configuration_data_configuration'

    shipmondo.form.shipmondo_configuration_form_handler:
        class: 'PrestaShop\PrestaShop\Core\Form\Handler'
        public: true
        arguments:
        - '@form.factory'
        - '@prestashop.core.hook.dispatcher'
        - '@shipmondo.form.shipmondo_configuration_form_data_provider'
        - 'Shipmondo\Form\Type\ShipmondoConfigurationFormType'
        - 'ShipmondoConfiguration'

    shipmondo.grid.definition.factory.shipmondo_carriers:
        class: 'Shipmondo\Grid\Definition\Factory\ShipmondoCarrierGridDefinitionFactory'
        parent: 'prestashop.core.grid.definition.factory.abstract_grid_definition'

    shipmondo.grid.query_builder.shipmondo_carrier:
        class: 'Shipmondo\Grid\Query\ShipmondoCarrierQueryBuilder'
        parent: 'prestashop.core.grid.abstract_query_builder'
        public: true
        arguments:
            - "@=service('prestashop.adapter.legacy.context').getContext().language.id"
            - "@=service('prestashop.adapter.legacy.context').getContext().shop.id"

    shipmondo.grid.data.factory.shipmondo_carriers:
        class: '%prestashop.core.grid.data.factory.doctrine_grid_data_factory%'
        arguments:
            - '@shipmondo.grid.query_builder.shipmondo_carrier'
            - '@prestashop.core.hook.dispatcher'
            - '@prestashop.core.grid.query.doctrine_query_parser'
            - 'shipmondo_carriers'

    shipmondo.grid.data.factory.shipmondo_carriers_decorator:
        class: 'Shipmondo\Grid\Data\Factory\ShipmondoCarrierGridDataFactoryDecorator'
        arguments:
            - '@shipmondo.grid.data.factory.shipmondo_carriers'
            - '@shipmondo.carrier_handler'

    shipmondo.grid.factory.shipmondo_carriers:
        class: 'PrestaShop\PrestaShop\Core\Grid\GridFactory'
        public: true
        arguments:
            - '@shipmondo.grid.definition.factory.shipmondo_carriers'
            - '@shipmondo.grid.data.factory.shipmondo_carriers_decorator'
            - '@prestashop.core.grid.filter.form_factory'
            - '@prestashop.core.hook.dispatcher'

    shipmondo.form.type.shipmondo_carrier_form_type:
        class: 'Shipmondo\Form\Type\ShipmondoCarrierFormType'
        parent: 'form.type.translatable.aware'
        public: true
        tags:
            - { name: form.type }
        arguments:
            - "@shipmondo.carrier_handler"

    shipmondo.carrier_handler:
        class: 'Shipmondo\ShipmondoCarrierHandler'
        public: true
        arguments:
            - '@prestashop.adapter.legacy.configuration'
            - '@shipmondo.api_client'

    Shipmondo\Controller\Admin\ShipmondoConfigurationController:
        class: 'Shipmondo\Controller\Admin\ShipmondoConfigurationController'
        parent: 'PrestaShopBundle\Controller\Admin\FrameworkBundleAdminController'
        tags:
            - 'controller.service_arguments'
        arguments:
            - '@shipmondo.form.shipmondo_configuration_form_handler'

    Shipmondo\Controller\Admin\ShipmondoCarrierController:
        class: 'Shipmondo\Controller\Admin\ShipmondoCarrierController'
        parent: 'PrestaShopBundle\Controller\Admin\FrameworkBundleAdminController'
        tags:
            - 'controller.service_arguments'
        arguments:
            - '@shipmondo.grid.factory.shipmondo_carriers'
            - '@shipmondo.carrier_handler'
            - '@shipmondo.grid.definition.factory.shipmondo_carriers'
            - '@prestashop.bundle.grid.response_builder'
            - '@doctrine.orm.entity_manager'

imports:
    - { resource: common_services.yml }
